.button {
  @include basic-font;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 68px;
  background-color: #a87b62;
  color: $basic-white;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border: 0;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-promo;
  }
}
