.page-footer {
  background-color: $basic-black;
  min-height: 338px;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    padding-bottom: 38px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.page-footer h3 {
  @include title;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    max-width: 215px;
  }
}

.page-footer__subscription {
  max-width: 500px;

  @media (max-width: $tablet-width) {
    max-width: 560px;
  }
}

.page-footer__subscription p {
  line-height: 21px;
  color: $basic-grey;
  margin: 0;
  margin-bottom: 30px;

  @media (max-width: $mobile-width) {
    max-width: 230px;
    line-height: 22px;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 45px;
  padding: 90px 0 70px;

  @media (max-width: $tablet-width) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 50px 0 10px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}

.page-footer__nav-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-footer a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
  opacity: 1;
  transition: opacity 0.3s;
  font-weight: 500;
  line-height: 21px;
  text-align: left;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.page-footer__nav {
  display: grid;
  grid-template-columns: auto auto 150px;

  @media (max-width: $tablet-width) {
    padding-top: 35px;
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
}

.page-footer__nav ul {
  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.page-footer__subscribe-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $basic-white;
  padding: 10px 0;
}

.page-footer__subscribe-form input {
  @include basic-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  border: none;
  background-color: $basic-black;
  color: $basic-grey;
  padding: 0;

  @media (max-width: $mobile-width) {
    max-width: 170px;
  }

  &:hover,
  &:focus {
    outline: 1px solid $basic-white;
    outline-offset: 5px;
  }
}

.page-footer__subscribe-form button {
  @include basic-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  border: none;
  background-color: transparent;
  color: $basic-white;
  cursor: pointer;
  padding: 0;
  padding-top: 2px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.page-footer__subscribe-form span {
  margin-right: 8px;

  @media (max-width: $mobile-width) {
    margin-right: 12px;
  }
}
