.promo {
  position: relative;
  min-height: 463px;
  background-image: url("../img/promo-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $basic-brown;
  display: flex;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/promo-bg-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/promo-bg-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-mobile@2x.jpg");
    }
  }
}

.promo::before {
  position: absolute;
  width: 100%;
  min-height: 463px;
  top: 0;
  content: "";
  display: block;
  background: rgba(86, 64, 52, 0.7);
}

.promo__info {
  position: relative;
  z-index: 3;
  color: $basic-white;
  margin: 0 auto;
  text-align: center;
}

.promo__info p {
  @include title-large;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-left: -20px;
    margin-bottom: -7px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    font-size: 38px;
    line-height: 49px;
  }
}

.promo__info span {
  @include add-font;
  font-size: 38px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  text-align: center;

  @media (max-width: $mobile-width) {
    font-size: 34px;
    line-height: 44px;
  }
}
