.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: $basic-white;
  margin: 0 6px;

  @media (max-width: $mobile-width) {
    margin: 0 10px;
  }
}

.swiper-wrapper {
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}
