.blog {
    text-align: center;
    margin-bottom: 130px;

    @media (max-width: $tablet-width) {
        margin-bottom: 80px;
    }

    @media (max-width: $mobile-width) {
        margin-bottom: 70px;
    }
}

.blog h2 {
    @include title;
    margin-bottom: 20px;
}

.blog__link {
    display: inline-block;
    border-bottom: 1px solid $basic-brown;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: $dark-grey;
    text-decoration: none;
    outline: 0;

    @media (max-width: $mobile-width) {
        margin-bottom: 50px;
    }
}

.blog__list {
    @include list-reset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5%;

    @media (max-width: $tablet-width) {
        grid-template-columns: 1fr;
        row-gap: 50px;
        grid-template-rows: auto;
    }

    @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
}

.blog__item {
    display: flex;
    position: relative;
    max-height: 300px;

    @media (max-width: $mobile-width) {
        flex-direction: column;
        max-height: 100%;
    }
}

.blog__item img {
    object-fit: cover;
}


.blog__item--big {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    max-height: 630px;

    @media (max-width: $tablet-width) {
        grid-column: auto;
        grid-row: 3 / 4;
    }

    @media (max-width: $mobile-width) {
        order: 2;
    }
}

.blog__image-block {
    min-width: 50%;
    height: auto;

    @media (max-width: $mobile-width) {
        max-height: 256px;
    }
}

.blog__image-block img {
    height: 100%;
    width: 100%;
    max-height: 300px;
}

.blog__item--big img {
    max-height: 630px;

    @media (max-width: $tablet-width) {
        max-height: 300px;
    }
}

.blog__info-block {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    background: $light-brown;

    @media (max-width: $mobile-width) {
        min-height: 256px;
    }
}

.blog__info-block a {
    display: inline-block;
    border-bottom: 1px solid $basic-brown;
    padding-bottom: 5px;
    font-weight: 500;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
}

.blog__info-block--large {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 48%;

    @media (max-width: $tablet-width) {
        height: 100%;
    }

    @media (max-width: $mobile-width) {
        position: relative;
        min-height: 256px;
    }
}

.blog__info-block time {
    display: block;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: $basic-grey;
    margin-bottom: 25px;
}

.blog__info-block h3 {
    font-family: "CormorantGaramond";
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    color: $basic-black;
    margin: 0;
    margin-bottom: 50px;
    max-width: 165px;
}

.blog__item--reverse .blog__image-block {
    @media (max-width: $mobile-width) {
        order: -1;
    }
}