// Colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #9B9997;
$dark-grey: #1d1613;
$light-brown: #f0eae4;
$basic-brown: #A87B62;
$bg-promo: rgba(86, 64, 52, 0.7);
$border-line: #F6F5F4;

// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
